h3{
    color: green;
    background-color: yellow;
}

*{
    margin: 0;
    padding: 0;
}

p{
    color: hotpink;
    background-color: black;
}

.para1{
    color: indigo;
}

#para2 {
    color: khaki;
}