h3{
    color: green;
    background-color: yellow;
}

*{
    margin: 0;
    padding: 0;
}

p{
    color: hotpink;
    background-color: black;
}

.para1{
    color: indigo;
}

#para2 {
    color: khaki;
}

div {
    background-color: limegreen;
}

img {
    width: 200px;
    height: 100px;
    background-repeat: repeat-x;
    background-size: cover;
}